.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  background-color: brown;
  padding-top: 30px;
}

.sidebar ul {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar a {
  display: block;
  background-color: #eee9e9;
  margin: 7px 10px;
  border-radius: 20px;
  padding: 7px 14px;
  text-decoration: none;
  color: #494242;
}

.active {
  background: #a29f9e !important;
}

.sidebar a:hover {
  background-color: #ede6e6;
}
